asgiref==3.8.1
backports.zoneinfo==0.2.1
crispy-bootstrap5==2025.6
django==4.2.27
django-crispy-forms==2.4
django-jazzmin==3.0.1
django-tempus-dominus==5.1.2.17
pillow==10.4.0
sqlparse==0.5.5
typing-extensions==4.13.2
